
.panel
  %header
    %h1 Volunteers
  .content
    %table.table.table-striped
      %thead
        %tr
          %th Volunteer Name
          %th Email
          %th Phone
          %th Status
          %th Actions

      %tbody
      - volunteers.each do |volunteer|
        %tr
          %td= link_to volunteer.name, volunteer_path(volunteer)
          %td= volunteer.email
          %td= volunteer.phone
          %td= volunteer.status
          %td
            = link_to 'Edit', edit_volunteer_path(volunteer), :class => 'btn btn-mini'
            = link_to 'Destroy', volunteer, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-mini btn-danger'

    %br

    = link_to 'New Volunteer', new_volunteer_path, :class => 'btn btn-primary'
