.panel
  %header
    %h1
      %i.icon-user.icon-large
      &nbsp&nbsp&nbspDonors
  .content
    %table.table.table-striped
      %thead
        %tr
          %th ID
          %th Donor
          %th Actions
      %tbody
      - donors.each do |donor|
        %Tr
          %td= link_to donor.id, donor_path(donor)
          %td= link_to donor.name, donor_path(donor)
          %td
            = link_to 'Edit', edit_donor_path(donor), class: 'btn btn-mini'
            = link_to 'Destroy', donor, confirm: 'Are you sure?', method: :delete, class: 'btn btn-mini btn-danger'
    %br
    = link_to 'New Donor', new_donor_path, class: 'btn btn-primary'

