
%h1 Id: #{@visit.id}
%h2 Household #{@visit.household.name}
%h4 Date: #{@visit.visited_on.strftime('%B %d, %Y')}
.nested-fields
= simple_form_for @visit, html: { :class => 'form-inline' } do |f| 
  = f.input :weight
  .span11.add_food
    = link_to_add_association( 'Add Food', f, :foodlines, :force_non_association_create => true)
    = link_to_remove_association "remove food", f 
  = f.button :submit, value: 'Update', class: 'btn btn-inverse btn-lrge'
%hr
