%h3 Food Order
%h4 Order Number: #{visit.id}
%h4 Household: #{visit.show_household}
%h4 Neighbors: #{visit.household.neighbors.count}

%h5 Date: #{visit.visited_on.strftime('%B %d, %Y')}

%h3 Food Items
%h4 #{visit.starch}
%h4 #{visit.cereal}
%h5 #{visit.option1}

%h3 Special Needs
%h3 #{visit.household.food_alert}
%h3 #{visit.items_received}

#printbtn
  = link_to 'Print' , households_path, class: 'button btn btn-large btn-primary' , id: 'btnPrint'

 






  
