= simple_form_for visit do |f|
  = f.association :household, :label => 'Household'
  %h4 Household Members: #{household.neighbors.count}
  %h4 Visits: #{household.visits.count}
  = f.input  :visited_on,     :label => 'Visited On', as: :date_picker, input_html: { class: 'span2' }
  = f.input  :starch,         :label => false,  collection: ['Beans','Rice','Potatoes'],selected: 'Beans'
  = f.input  :cereal,         :label => false,  collection: ['Cereal','Grits','Oatmeal']
  = f.input  :option1,        :label => false,  collection: ['Peanut Butter Jelly', 'Deserts','Baby Fromula'], prompt: 'Options'
  = f.input  :items_received, :label => 'Special Needs',input_html: {rows: 4, class: 'span9' }
  = f.input  :notes,          :label => 'Notes',input_html: {rows: 4, class: 'span9' }
  = f.button :submit, :class => 'btn-primary', :label=> 'Save' 
