%hr
#print_form.well.well-large
  %h1 Id: #{@visit.id}
  %h4 Date: #{@visit.visited_on.strftime('%B %d, %Y')}
  %h1 Household: 
  %h1 #{@visit.show_household}
  %h2 Neighbors: #{@visit.household.neighbors.count}
  %hr
  #neighbor-print.well.well-large
    %h2 Visiting Neighbor
    %h3 #{@visit.show_neighbor_name}
  - if household.food_alert?
    %h2 Household Needs
    %h3 #{@visit.household.food_alert}
  %tab-print.well.well-large
    %h2 Tabs
    %h3 Available Tabs: #{@visit.household.token_balance}
    %h4 Expiration: #{@visit.household.token_expiration}
    %h4 Renewal Date: #{@visit.household.token_renew}
  %hr
  %h3 #{@visit.items_received}
  %hr
  %hr
  %hr

#printbtn
  = link_to 'Print' , households_path, class: 'button btn btn-large btn-primary' , id: 'btnPrint'







  
