= simple_form_for visit do |f|
  = f.association :neighbor,  :label => 'Neighbor'
  = f.input  :visited_on,     :label => 'Visited On'
  = f.input  :items_received, :label => 'Items Received'
  = f.input  :notes,          :label => 'Notes'
  = f.button :submit, :class => 'btn-primary', :label=> 'Save' 
