.nested-fields
  #tab-color.well.well-large
    %script{:type=>"text/javascript"}
      $('input selector').enableClientSideValidations()
    #visit-date
      = f.input  :visited_on, label: 'Date of Visit', default: Date.today, order: [:month, :day],input_html: { class: 'span2' }
      %br
      = f.association :neighbor, collection: @household.neighbors.all, default: 1, validate: { presence: true }
      = f.association :token, label: 'Token ID', label_method: :id, collection: @household.tokens.all, default: 1, validate: {presence: true}
      %br
      %h4 Thus will open the Cart for the Neighbor to Shop 
      %h5 Make sure that there is a Token ID
      %h5 You can print a cart for the Neighbor or simply open it 
      .span11
        = f.hidden_field :istab, value: true
        = f.hidden_field :isopen, value: true 
      %br
      %br
      - if !household.food_alert.blank?
        %h4 Food Restrictions: #{household.food_alert}
      = f.input  :items_received, placeholder:'Text entered here will show up on the printed receipt', :label => 'Notes and Comments',input_html: {rows: 4, class: 'span9' }
      #visit-note.well.well-large
        %h5 Please check this area for daily messages
        = Mission.last.message
        - notes = Mission.last.message
      .actions.span12
      = f.button :submit, value: 'Print Cart', id: 'btnPrint'
      = f.button :submit, value: 'Open Cart', class: 'btn btn-inverse'    
  %hr
