
%h1 Visit Id: #{@visit.id}
%h2 Household Id: #{@visit.household.id}
%h2 Household: #{@visit.household.name}
- if @visit.token
  %h3 Token ID: #{@visit.token.id}
  %h3 Token Balance: #{@visit.household.token_balance}
- else 
  %h5 Warning - No Token present
  = link_to 'Return to Household', household_path(@visit.household.id) , class: 'btn btn-success'
%h4 Date: #{@visit.visited_on.strftime('%B %d, %Y')}
.nested-fields
#checkout
  .span10
  = simple_form_for @visit, html: { :class => 'form-inline' } do |f| 
    .span4
    = f.input :weight
    .span2
    = f.input :tab
    .span11
    - if @visit.token
      = f.hidden_field :isopen, value: false 
      = f.button :submit, value: 'Verify', class: 'btn btn-success btn-lrge'
%hr
