
%h1 Visit Id: #{@visit.id}
%h2 Household Id: #{@visit.household.id}
%h2 Household #{@visit.household.name}
%h4 Date: #{@visit.visited_on.strftime('%B %d, %Y')}
.nested-fields
= simple_form_for @visit, html: { :class => 'form-inline' } do |f| 
  = f.input :weight
  = f.input :tab
  .span11.add_food
    -# = link_to_add_association( 'Add Food', f, :foodlines, :force_non_association_create => true)
  = f.button :submit, value: 'Verify', class: 'btn btn-success btn-lrge'
  -# = link_to 'PDF', household_visit_path(@visit, format: "pdf"), class: 'btn btn-mini btn-info'
%hr
