
.panel
  %header
    %h1
      %i.icon-food.icon-large
      &nbsp&nbsp&nbspVisits
  .content
    %table.table.table-striped
      %thead
        %tr
          %th Household
          %th Neighbor
          %th Tab Balance
      %tbody
      - visits.visit_open.each do |visit|
      - @household = visit.household
        %tr
          %td= link_to visit.show_household, household_path(visit.household_id)
          - if visit.neighbor_id
            %td= visit.show_neighbor
          %td
            = link_to 'Edit', edit_visit_path(visit), class: 'btn btn-mini'
            = link_to_add_association( 'Check Out', f, :foodlines , class: 'btn btn-success btn-large visit-btn', :partial => 'visits/_checkout_fields', :render_options => {wrapper: 'bootstrap' },:force_non_association_create => true,)
            = link_to 'Destroy', visit, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-mini btn-danger'
    %br
