%section.panel
  %header
    %h1
      %i.icon-home.icon-large
      &nbsp&nbsp&nbspHouseholds
  .content
    .span12
    .span-one-third
      = image_tag('second_logo.jpg')
    #harvest_report
      %h2 Monthly Report
    .row
    #msm_id.span-one-third
      %h4 Agency ID: 590AD
      %h4 Report run Date: #{Date.today.strftime('%B %d, %Y')}
      = link_to 'Second Harvest', 'http://www.secondharvestmetrolina.org/'
      - @month = "#{Date.today.strftime('%B')}"
      - @pmonth = "#{(Date.today - 1.month).strftime('%B')}"
      - @ppmonth = "#{(Date.today - 2.months).strftime('%B')}"
      - @ppre_year = 2016
      - @three_year = 2015
      - @four_year = 2014
      -#%h4 Month #{@month}
      #h4 Report for Previous Month #{@pmonth}
      -##h4 2 months ago #{@ppmonth}
      #h4 By Month #


    #harvest_month
      %br
      -#= search_form_for @month do |f|
      -#  = f.label Select Month
      -#  = f.options_for_select(month_select)
      -#  = f.submit
      / = simple_form_for visit, html: { :class => 'form-inline' } do |f|
      / = f.input :visited_on, label: 'Report Month', collection: month_select, input_html: {class: 'span2'}
    .row
    .span11
    %h4 The number of different Households served during:  #{@ppmonth}, #{@pmonth} and #{@month}
    - household_status_for households.all do |stats|
      .span11
        %table.table.table-bordered
          %thead
            %tr
              %th @month
              %th Total Number of Visits
              %th Total Number of Households
              %th Total Number of Neighbors
              -# - @h_month = visits.by_month(@month).select "DISTINCT(household_id)"
              -# - @household_ids = visits.by_month(@month).pluck(:household_id).uniq
              -# - @prev_month_ids = visits.by_month(@prev_month).pluck(:household_id).uniq
              %tbody
                -#%tr
                -#  %td= @month
                -#  %td= @visits.current_month
                -#  %td= @visits.households_count_current_month
                -#  %td= @visits.neighbors_current_month
                %tr
                  %td= @pmonth
                  %td= @visits.last_month
                  %td= @visits.households_count_last_month
                  %td= @visits.neighbors_last_month
                -#%tr
                -#  %td= @ppmonth
                -#  %td= @visits.two_months_ago
                -#  %td= @visits.households_count_two_months_ago
                -#  %td= @visits.neighbors_two_months_ago
    -#%br
    -#.row
    -#.span11
    -#%h4 The total number of Individuals served during: #{@month}
    -#- household_status_for households.all do |stats|
    -#  .span11
    -#    %table.table.table-bordered
    -#      %thead
    -#        %tr
    -#          %th < 19
    -#          %th Between 18 & 64
    -#          %th Over 64
    -#          %th Total Served
    -#          %tbody
    -#            %tr
                  -# %td=  @visits.young_neighbors_current_month
                  -# %td=  @visits.middle_neighbors_current_month
                  -# %td=  @visits.old_neighbors_current_month
                  -# %td=  @visits.neighbors_current_month
    .row
    %br
    .row
    .span11
    %h4 The total number of Individuals served during: #{@pmonth}
    - household_status_for households.all do |stats|
      .span11
        %table.table.table-bordered
          %thead
            %tr
              %th < 19
              %th Between 18 & 64
              %th Over 64
              %th Total Served
              %tbody
                %tr
                  %td=  @visits.young_neighbors_last_month
                  %td=  @visits.middle_neighbors_last_month
                  %td=  @visits.old_neighbors_last_month
                  %td=  @visits.neighbors_last_month
    %br
    .row
    .span11
    -#%h4 The total number of Individuals served during: #{@ppmonth}
    -#- household_status_for households.all do |stats|
    -#  .span11
    -#    %table.table.table-bordered
    -#      %thead
    -#        %tr
    -#          %th < 19
    -#          %th Between 18 & 64
    -#          %th Over 64
    -#          %th Total Served
    -#          %tbody
    -#            %tr
    -#              %td=  @visits.young_neighbors_two_month
    -#              %td=  @visits.middle_neighbors_two_month
    -#              %td=  @visits.old_neighbors_two_month
    -#              %td=  @visits.neighbors_two_months_ago
    -#.row
    %br

