.panel
  %header
    %h1
      %i.icon-food.icon-large
      &nbsp&nbsp&nbspVisits
  .content
    %table.table.table-striped
      %thead
        %tr
          %th Household
          %th Visited On
          %th Neighbor
          %th Visits Allowed
      %tbody
      - visits.visit_list.each do |visit|
      - @household = visit.household
        %tr
          %td= link_to visit.show_household, household_path(visit.household_id)
          %td= link_to visit.visited_on, edit_visit_path(visit)
          - if visit.neighbor_id
            %td= visit.show_neighbor
          %td= visit.household_allowance
          %td
            = link_to 'Edit', edit_visit_path(visit), class: 'btn btn-mini'
            = link_to 'Destroy', visit, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-mini btn-danger'
    %br

    = link_to 'New Visit', households_path, class: 'btn btn-primary'

