=image_tag 'marketplace.png'
%h1 Id: #{@visit.id}
%h2 Household #{@visit.household.name}
%h4 Date: #{@visit.visited_on.strftime('%B %d, %Y')}
-if @visit.token
  %h4 Tab Id: #{@visit.token.id}
  %br
  %h4 During this visit #{@visit.neighbor.name} spent #{@visit.tab} Tabs.
  %h4 #{@visit.neighbor.first_name} received Token Number #{@visit.token.id.to_s} worth #{@visit.token.initial_value.to_s} on #{@visit.token.issue_date.strftime('%B %d')}
  %h4 After spending #{@visit.tab} today #{@visit.neighbor.first_name} will have #{@visit.household.token_balance} to spend before #{@visit.household.token_expiration} 
  %h4 You can adjust the weight or Tab value below.
  %h4 if it is correct Print the Receipt
  .nested-fields
  = simple_form_for @visit, html: { :class => 'form-inline' } do |f| 
    = f.input :weight
    = f.input :tab 
    = f.hidden_field :isopen, value: false 
    .span11.add_food
    = f.button :submit, value: 'Update', class: 'btn btn-success btn-lrge'
    = link_to 'Print' , households_path, class: 'button btn btn-large btn-primary' , id: 'btnPrint'
= link_to 'Return to Checkout', '/open_visit'
%hr
