= form_for @token do |f|
  - if @token.errors.any?
    #error_explanation
      %h2= "#{pluralize(@token.errors.count, "error")} prohibited this token from being saved:"
      %ul
        - @token.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :household_id
    = f.number_field :household_id
  .field
    = f.label :issue_date
    = f.date_select :issue_date
  .field
    = f.label :expiration_date
    = f.date_select :expiration_date
  .field
    = f.label :initial_value
    = f.number_field :initial_value
  .field
    = f.label :current_value
    = f.number_field :current_value
  .field
    = f.label :flavor
    = f.text_field :flavor
  .field
    = f.label :isexpired
    = f.check_box :isexpired
  .actions
    = f.submit 'Save'
