%script{:type=>"text/javascript"}
  $('.datepicker').datepicker({format: 'mm/dd/yyyy'});
= simple_form_for @token, html: { :class => 'form-inline' } do |f|
  .span2
    = f.hidden_field :household_id, value: @token.household.id
    = f.input :issue_date, as: :date_picker, input_html: {id: 'dpYears' , class: 'span2' }
  .span2
    = f.input :expiration_date, as: :date_picker, input_html: {id: 'dpYears' , class: 'span2' }
  .span2
    = f.number_field :initial_value, input_html: { class: 'span1' }
  .span2
  .row
  .actions
    = f.button :submit, value: 'Issue Token' , class: 'btn btn-success btn-large'
