%h1 Expired Tokens

%table.table.table-striped.house-table.table-hover
  %thead.htable
    %tr
      %th Household
      %th Issued
      %th Expiration
      %th Initial value
    %tbody.htable
    - @tokens.each do |token|
      %tr
        %td= link_to token.household.household_name, edit_household_path(token.household)
        - if token.issue_date
          %td= token.issue_date.strftime('%B %d')
        - if token.expiration_date
          %td= token.expiration_date.strftime('%B %d')
        %td= token.initial_value
        %td= token.household.token_balance
%br

= link_to 'New Token', new_token_path

