%h1 Open Tokens
= search_form_for @q do |f|
  = f.label :household_name_start
  = f.text_field :household_name_start, :class => "input-medium search-field"
  = f.submit
  = f.submit "Clear", :name => nil, :id => :q_reset 

%table.table.table-striped.house-table.table-hover
  %thead.htable
    %tr
      %th Household
      %th Issued
      %th Expiration
      %th Initial value
      %th Balance
      %th View
    %tbody.htable
    - @tokens.each do |token|
      %tr
        %td= link_to token.household.household_name, edit_household_path(token.household)
        - if token.issue_date
          %td= token.issue_date.strftime('%B %d')
        - if token.expiration_date
          %td= token.expiration_date.strftime('%B %d')
        - if token.initial_value
          %td= token.initial_value
        - if token.household
          - @household = token.household
          %td= token.household.token_balance
        %td= link_to 'show', household_token_path(@household,token), :class => 'btn btn-mini'
%br

= link_to 'New Token', new_token_path
