%p#notice= notice


#token_header 
  %h2 Current Token
  %h3= @household.household_name
  %h4 Date Issued: #{@household.token_issuance}
  %h4 Expiration Date: #{@household.token_expiration}
  %h4 Can Renew on: #{@household.token_renew}
  %h4 Initial Token Value: #{@household.initial_token_value_display}
  %h4 Current Tab Balance: #{@household.token_balance}
  %hr
    %h3 Tabs
    %table.table.table-striped.table-hover.token-table
      %thead.htable
        %tr
          %th Date 
          %th Weight
          %th Tabs
          %th
          %tbody.htable
          - if @household.token_open?
            - @household.tokens.open_tok.first.visits.each do |visit|
              %tr
                %td= visit.visited_on.strftime("%B %d")
                %td= visit.weight
                %td= visit.tab 




-# %p
-#   %b Household:
-#   = @token.household_id
-# %p
-#   %b Issue date:
-#   = @token.issue_date
-# %p
-#   %b Expiration date:
-#   = @token.expiration_date
-# %p
-#   %b Initial value:
-#   = @token.initial_value
-# %p
-#   %b Current value:
-#   = @token.current_value
-# %p
-#   %b Flavor:
-#   = @token.flavor
-# %p
-#   %b Isexpired:
-#   = @token.isexpired

-# = link_to 'Edit', edit_token_path(@token)

-# = link_to 'Back', tokens_path
