= simple_form_for @customer do |f|

 
  = f.input  :cust_first_name,:label => 'First Name'
  = f.input  :cust_last_name, :label => 'Last Name'
  = f.input  :cust_email,     :placeholder => 'user@domain.com'
  = f.input  :cust_street,    :label => 'Street'
  = f.input  :cust_city,      :label => 'City'
  = f.input  :cust_state,     :label => 'State'
  = f.input  :cust_zip,       :label => 'Zip'
  = f.input  :cust_status,    :label => 'Status'
  = f.input  :cust_phone,     :label => 'Phone'
  = f.input  :cust_ss_numb,   :label => 'social Security Number'
  = f.input  :cust_family,    :collection => 1 .. 10
  .actions
  = f.submit 'Save'
