= form_for @customer do |f|
  -if @customer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@customer.errors.count, "error")} prohibited this customer from being saved:"
      %ul
        - @customer.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :cust_first_name
    = f.text_field :cust_first_name
  .field
    = f.label :cust_last_name
    = f.text_field :cust_last_name
  .field
    = f.label :cust_email
    = f.text_field :cust_email
  .field
    = f.label :cust_street
    = f.text_field :cust_street
  .field
    = f.label :cust_city
    = f.text_field :cust_city
  .field
    = f.label :cust_state
    = f.text_field :cust_state
  .field
    = f.label :cust_state
    = f.text_field :cust_state
  .field
    = f.label :cust_zip
    = f.text_field :cust_zip
  .field
    = f.label :cust_status
    = f.text_field :cust_status
  .field
    = f.label :cust_phone
    = f.text_field :cust_phone
  .field
    = f.label :cust_ss_numb
    = f.text_field :cust_ss_numb
  .field
    = f.label :cust_family
    = f.number_field :cust_family
  .actions
    = f.submit 'Save'
