= simple_form_for donation do |f|
  #weight
    %fieldset
      = f.association :donor
      = link_to 'Add Donor', new_donor_path , class: 'btn btn-mini'
    .row
    %br
    = f.input :weight
    %br
    = f.button :submit

