= form_for @food do |f|
  - if @food.errors.any?
    #error_explanation
      %h2= "#{pluralize(@food.errors.count, "error")} prohibited this food from being saved:"
      %ul
        - @food.errors.full_messages.each do |msg|
          %li= msg
= simple_form_for [@food] do |f|
  %h4 New Food Entry
  #food-color.well.well-large.input-append.date
    .span2
      = f.input :upc, input_html: {class: 'span2'}
    .span6
      = f.input :description, input_html: {class: 'span6'}
    .row
    .span2
      = f.input :guiding_star, input_html: {class: 'span1'}
    .span4
      = f.input :f2e, input_html: {class: 'span1'}
    .span2
      = f.input :tab_val, input_html: {class: 'span1'}
  .actions
    = f.button :submit, value: 'Save', class: 'btn btn-inverse btn-large'