%h1 Listing foods

%table
  %tr
    %th Description
    %th Upc
    %th Healthy
    %th GS
    %th F2E
    %th Tabs
    %th
    %th
    %th

  - @foods.each do |food|
    %tr
      %td= food.description
      %td= food.upc
      %td= food.healthy
      %td= food.guiding_star
      %td= food.f2e
      %td= food.tab_val
      %td= link_to 'Edit', edit_food_path(food), class: 'btn btn-primary'
      %td= link_to 'Deelete', food, :method => :delete, class: 'btn btn-mini btn-danger', :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Food', new_food_path
