%script{:type=>"text/javascript"}
  $('.datepicker').datepicker({format: 'mm/dd/yyyy'});
= simple_form_for [@household, neighbor] do |f|
  %h4 This neighbor's Household: #{neighbor.house_name}
  #neighbor-color.well.well-large.input-append.date
    .span2
      = f.input :first_name, input_html: {class: 'span2'}
    .span2
      = f.input :middle_name, input_html: {class: 'span2'}
    .span2
      = f.input :last_name, input_html: {class: 'span2'}
    .span2
      = f.input :sex, collection: [:Male, :Female] , input_html: {class: 'span2'}
    .row
    .span2
      = f.input :birth_date, as: :date_picker, input_html: {id: 'dpYears' , class: 'span2' }
    .span2
      = f.input :encrypted_ssn, label: 'Social Security #', input_html: {class: "span2"}
    .span2
      = f.input  :phone,     label: 'Phone', input_html: { class: 'span2' }
    .span2
      = f.input  :email,     label: 'Email', input_html: {class: 'span2'}
    .span3
    .row
    .span8
      = f.input :notes, :rows => 2, input_html: {rows: 4, class: 'span8' }
    .row
    .span8
      #submit-neighbor
        = f.button :submit, value: 'Update', class: 'btn btn-inverse btn-large'

  
