%script{:type=>"text/javascript"}
  $('.datepicker').datepicker({format: 'mm/dd/yyyy'});
= simple_form_for [@household, neighbor],url: household_neighbor_path do |f|
  %h2 Household: #{neighbor.house_name}
  #neighbor-color.well.well-large.input-append.date
    .span3
      = f.input :first_name
    .span3
      = f.input :middle_name
    .span3
      = f.input :last_name
    .row
    .span3
      = f.input :sex, collection: [:Male, :Female] , input_html: {class: 'span2'}
    .span3
      = f.input :birth_date, as: :date_picker,  input_html: {id: 'dpYears', class: 'datepicker span2'}
    .span3
      = f.input :encrypted_ssn, input_html: {class: "span2"}
    .row
    .span4.offset1
      = f.input  :phone,     label: 'Phone', input_html: { class: 'span2' }
    .span3
      = f.input  :email,     label: 'Email', input_html: {class: 'span3'}
    .span3
    .row
    .span9
      = f.input :notes, :rows => 2, input_html: {rows: 4, class: 'span9' }
    .row
    .span10
      #submit-neighbor
        .btn-group
          = link_to_function '< Back', "history.back()", class: "btn"
          = f.button :submit, value: 'Update', class: 'btn btn-inverse'
          = link_to 'Destroy', household_neighbor_path, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger'

  
