%section.panel
  %header
    %h1
      %i.icon-user.icon-large
      &nbsp&nbsp&nbspNeighbors
  .content
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th Household
          %th Visits
          %th Phone
      %tbody
      - neighbors.each do |neighbor|
        - @household = :households.find(neighbor.household_id)
        %tr
          %td= link_to neighbor.name, url_for([@household, neighbor])
          %td= link_to neighbor.house_name, urls_for(@household)
          %td= neighbor.visits.count
          %td= neighbor.phone
          %td
            = link_to 'Edit', edit_neighbor_path(neighbor), class: 'btn btn-mini'
            = link_to 'Destroy', neighbor, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-mini btn-danger'

    %br


