!!!
%html
  %head
    %title= link_to 'Marketplace', '/'
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    = stylesheet_link_tag  'application', :media => "all"
    -#= javascript_include_tag :all, :recursive => true
    = javascript_include_tag 'application'
    %script{:type=>"text/javascript"}
      $('.datepicker').datepicker({format: 'dd/mm/yyyy'});
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body
    .container
    %header.navbar.navbar-static-top
      %nav.navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{href: "/households"}
            .logo
              =image_tag 'logo.jpg'
          .nav-collapse
            %ul.nav
              %li.dropdown
                %a.dropdown-toggle{data_toggle: "dropdown", href: "#" }
                  <i></i> Households
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to 'New Household', new_household_path
                  %li.divider
                  %li= link_to 'New Visit', households_path
                  %li.divider
                  %li= link_to 'Check Out', '/open_visit'
                  %li.divider
                  %li= link_to 'Households', households_path
                  %li.divider
                  %li= link_to 'Visits', visit_index_households_path
              %li.dropdown
                %a.dropdown-toggle{data_toggle: "dropdown", href: "#" }
                  <i></i> Tokens
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to "Tokens", tokens_path(open: true)
                  %li.divider
                  %li= link_to "Open Tokens", tokens_path(open: true)
                  %li.divider
                  %li= link_to "Expired Tokens", tokens_path(expired: true)
              %li.dropdown
                %a.dropdown-toggle{data_toggle: "dropdown", href: "#" }
                  <i></i> Donations
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to "New Donation", new_donation_path
                  %li.divider
                  %li= link_to "Donations", donations_path
                  %li.divider
                  %li= link_to "Donors", donors_path
              %li= link_to '<i></i> Volunteers'.html_safe, time_clock_path
              %li.dropdown
                %a.dropdown-toggle{data_toggle: "dropdown", href: "#" }
                  <i></i> Admin
                  %b.caret
                %ul.dropdown-menu
                  %li.divider
                  %li= link_to 'New Volunteer', new_volunteer_path
                  %li.divider
                  %li= link_to 'Volunteers', volunteers_path
                  %li.divider
                  %li= link_to 'New Food', new_food_path
                  %li.divider
                  %li= link_to 'Foods', foods_path
                  %li.divider
                  %li= link_to 'Visit Text', new_mission_path
                  %li.divider
                  %li= link_to '2nd Harvest', '/harvest'
                  %li.divider
                  %li= link_to 'Admin', '/admin'
                  %li.divider
                  %li.divider
            %ul.nav.pull-right
              - if user_signed_in?
                %li.dropdown
                  %a.dropdown-toggle{:data_toggle => "dropdown", :href => "#"}
                    Profile
                    %b.caret
                  %ul.dropdown-menu
                    %li= link_to "Edit Profile", edit_user_registration_path
                    %li.divider
                    %li= link_to "Sign Out", destroy_user_session_path, :method => "delete"
              - else
                %li= link_to "Sign In", new_user_session_path
                %li= link_to "Sign Up", new_user_registration_path
    .row
      - flash.each do |name, msg|
        %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
          %a.close{"data-dismiss" => "alert"} ×
          = msg
    .container.forms
      .row
        .span12= yield
    = render 'layouts/footer'
