
<%= simple_form_for @household do |f| %>
    <% if @household.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@household.errors.count, "error") %> prohibited this household from being saved:</h2>

          <ul>
            <% @household.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.input :household_name %><br />
    </div>
    <div class="field">
      <%= f.simple_fields_for :neighbors do | builder | %>
      <fieldset>
      <%= builder.input :first_name   %>
      <%= builder.input :middle_name  %>
      <%= builder.input :last_name    %>
      <%= builder.input :street       %>
      </fieldset>
      <%- end %>
    </div>
    <div class="actions">
      <%= f.button :submit %>
    </div>
<% end %>
