#mhead
  %h4 Household Members: #{household.neighbors.count}
  %h4 Visits: #{household.visit.count||= 'No Visits'}
= simple_form_for household,  html: { :class => 'form-inline' } do |f|
  = f.input :household_name
  %table.table
    %thead
      %tr
        %th Name
        %th Age
    %tbody
      - household.neighbors.each do |neighbor|
        %tr
          %td= link_to neighbor.name, neighbor_path(neighbor)
          %td= neighbor.age
          %td= neighbor.visits.count
  .links.span2
    = link_to_add_association( 'Add Household Member', f,  :neighbors ,  class: 'btn btn-mini', :force_non_association_create => true)
  %hr
  .actions.span2
    = f.button :submit



