#mhead
  %h4 Household Members: #{household.neighbors.count}
  %h4 Total Visits: #{household.visits.count}
  %h4 Last Visit: #{household.last_visit}
  = household.visit_check
%h3 #{household.name}
= simple_form_for household,  validate: true, html: { :class => 'form-inline' } do |f|
  = f.input :box_type, label: 'Visits per Month', collection: ['One', 'Two'], input_html: { class: 'span2 form-inline'}
  %table.table.table-hover
    %thead
      %tr
        %th Name
        %th Age
        %th Notes
    %tbody
      - household.neighbors.each do |neighbor|

      - @household = household
        %tr
          %td= link_to neighbor.name, url_for([@household, neighbor])
          %td= neighbor.age
          %td= word_wrap neighbor.notes

  .span11
    = link_to_add_association( 'New Neighbor', f,  :neighbors ,  class: 'btn btn-mini', :force_non_association_create => true)
    %hr
    %p.visit
      = link_to_add_association( 'New Visit', f, :visits , class: 'btn btn-success btn-large', :force_non_association_create => true)
  .span11
  .tabbable
    %ul.nav.nav-tabs
      %li
        %a{"data-toggle" => "tab", :href => "#home"} Home
      %li
        %a{"data-toggle" => "tab", :href => "#money"} Money
      %li
        %a{"data-toggle" => "tab", :href => "#visits"} Visits
      %li
        %a{"data-toggle" => "tab", :href => "#mission"} Mission
  .tab-content
    #home.tab-pane.neighbor-color.well.well-large
      #house_address.span-one-third
        %h3 Household Address
        %script{:type=>"text/javascript"}
          $('#state').tooltip(options)
        %script{:type=>"text/javascript"}
          $('.typeahead').typeahead()
        .span3
          = f.input :street, input_html: {class: 'span3'}
        .span1
          = f.input :apt, label: 'Apartment', input_html: {class: 'span1'}
        .row
        .span3
          = f.input :city, prompt: 'City', input_html: {class: 'span3'}
        .span1
          = f.input :state, typeahead: ['NC', 'SC', 'VA', 'Tenn', 'WVa'], input_html: {class: 'span1'}
        .row
        .span2
          = f.input :proof_of_residency_type, label: 'Residency', collection: ['Drivers License','Passport', 'Utility Bill','Food Stamp Card'], input_html:{class:'span2'}
        .span2
          = f.input :date_of_proof, as: :date_picker, input_html: { id: 'dateEntry', class: 'span2' }
        .row
        .span4
          = f.input :food_alert, label: 'Special Food needs', tooltip: 'This will print on the food order', input_html: {class: 'span4'}
        .row
        .span4
          = f.input :special_needs, label: 'Special Non Food Needs', input_html: {class: 'span4'}
        .row
        .span4
          = f.input :prayer_request, label: 'Prayer Request', input_html: {class: 'span4'}
        .row
        .span2
          = f.input :post_needs, label: 'Post Needs'
        .span2
          = f.input :post_prayer,label: 'Post Prayer'
      #house_notes.span-two-thirds.well.well-large
        %script{:type=>"text/javascript"}
          $(#household_notes).focus(function(){ var value = this.getValue(); value += new Date().getTime(); this.setValue(value);});
        %h3 Notes and Comments
        = f.input :notes, label: 'Notes', input_html:{rows: 21, class: 'span5'}
      .row
    #money.tab-pane
      %table.table.table-bordered
        %thead
          %th Income
          %th $$
          %th Expenses
          %th $$
        %tbody
          %tr
          = simple_form_for household do |f|
            %td= f.input :income1,label: false, collection: ['Food Stamps','Disability','Employment','Child Support','Family', 'SSI', 'Other'], input_html: {class: 'form-inline', class: 'span2'}
            %td= f.input :inc_amt1, as: :string, label: false, input_html: {class: 'span1'}
            %td= f.input :expense1,label: false, collection: ['Rent','Utilities','Child Support','Car Payment','Mortgage','Credit Card','Probation', 'Other'], input_html: {class: 'form-horizontal', class: 'span2'}, selected: 'Rent'
            %td= f.input :exp_amt1, as: :string, label: false , input_html: {class: 'span1'}
            %tr
            %td= f.input :income2,label: false, collection: ['Food Stamps','Disability','Employment','Child Support','Family', 'SSI', 'Other'], input_html: {class: 'form-inline', class: 'span2'}
            %td= f.input :inc_amt2, as: :string, label: false, input_html: {class: 'span1'}
            %td= f.input :expense2,label: false, collection: ['Rent','Utilities','Child Support','Car Payment','Mortgage','Credit Card','Probation', 'Other'], input_html: {class: 'form-horizontal', class: 'span2'}, selected: 'Utilities'
            %td= f.input :exp_amt2, as: :string, label: false , input_html: {class: 'span1'}
            %tr
            %td= f.input :income3,label: false, collection: ['Food Stamps','Disability','Employment','Child Support','Family', 'SSI', 'Other'], input_html: {class: 'form-inline', class: 'span2'}
            %td= f.input :inc_amt3, as: :string, label: false, input_html: {class: 'span1'}
            %td= f.input :expense3,label: false, collection: ['Rent','Utilities','Child Support','Car Payment','Mortgage','Credit Card','Probation', 'Other'], input_html: {class: 'form-horizontal', class: 'span2'}
            %td= f.input :exp_amt3, as: :string, label: false , input_html: {class: 'span1'}
            %tr
            %td  Total Income
            %td  #{ household.inc_amt1.to_i + household.inc_amt2.to_i + household.inc_amt3.to_i}
            %td  Total Expenses
            %td  #{ household.exp_amt1.to_i + household.exp_amt2.to_i + household.inc_amt3.to_i }
      .row
      .span11
        = f.input :money_notes, label: 'Financial Notes', input_html:{rows: 2, class: 'span11' }
    #visits.tab-pane
      - @date = Date.today
      %h2#month
        -#= link_to "<", date: @date.prev_month
        = @date.strftime("%B %Y")
        -#= link_to ">", date: @date.next_month
      = calendar @date do |date|
        = date.day
        - if household.visits.count > 0
          - if visits_by_date[date]
            %ul
              - visits_by_date[date].each do |visitor|
                %li= visitor.show_neighbor_name
      %hr
    #mission.tab-pane
      .span5
        = f.input :how_heard, label: 'How did you hear about the Mission?', collection: ['From a Friend','Family member', 'passing by', 'Facebook', 'Referral from Agency'], input_html: {class: 'span4'}
      .span5
        = f.input :option1,  label: 'What Church do you attend', input_html: {class: 'span4'}
      .row
      .span5
        = f.input :opt_val1, label: false, placeholder: 'Answer',input_html: {rows: 1, class: 'span5'}
      .row
      = f.input :christmas,  label: 'Add to Crhistmas list', :wrapper => :inline_checkbox


  .actions.submit-visit:
    = f.button :submit, class: 'btn btn-warning'



