#mhead
  %h4 Household Members: #{household.neighbors.count}
  %h4 Total Visits: #{household.visits.count}
  %h4 Last Visit: #{household.last_visit}
= simple_form_for household,  html: { :class => 'form-inline' } do |f|
  = f.input :household_name
  = link_to 'New Visit', new_visit_path,  household_id: household.id, class: 'btn btn-primary'
  #box
    = f.input :box_type, label: 'Schedule', collection: ['Weekly', 'Bi-Weekly'], input_html: { class: 'span2'}
  %table.table
    %thead
      %tr
        %th Name
        %th Age
        %th Last Visit
    %tbody
      - household.neighbors.each do |neighbor|
        %tr
          %td= link_to neighbor.name, neighbor_path(neighbor)
          %td= neighbor.age
          %td= neighbor.visits.count
  .links.span2
    = link_to_add_association( 'Add Household Member', f,  :neighbors ,  class: 'btn btn-mini', :force_non_association_create => true)
  %hr
  .content
    %table.table.table-bordered
      %thead
        %th Income
        %th $$
        %th Expenses
        %th $$
      %tbody
        %tr
        = simple_form_for household do |f|
          %td= f.input :income1,label: false, collection: ['Food Stamps','Disability','Employment','Child Support','Family', 'Other'], input_html: {class: 'form-inline', class: 'span2'}
          %td= f.input :inc_amt1, as: :string, label: false, input_html: {class: 'span1'}
          %td= f.input :expense1,label: false, collection: ['Rent','Utilities','Child Support','Car Payment','Mortgage','Credit Card','Probation', 'Other'], input_html: {class: 'form-horizontal', class: 'span2'}, selected: 'Rent'
          %td= f.input :exp_amt1, as: :string, label: false , input_html: {class: 'span1'}
          %tr
          %td= f.input :income2,label: false, collection: ['Food Stamps','Disability','Employment','Child Support','Family', 'Other'], input_html: {class: 'form-inline', class: 'span2'}
          %td= f.input :inc_amt2, as: :string, label: false, input_html: {class: 'span1'}
          %td= f.input :expense2,label: false, collection: ['Rent','Utilities','Child Support','Car Payment','Mortgage','Credit Card','Probation', 'Other'], input_html: {class: 'form-horizontal', class: 'span2'}, selected: 'Utilities'
          %td= f.input :exp_amt2, as: :string, label: false , input_html: {class: 'span1'}
          %tr
          %td= f.input :income3,label: false, collection: ['Food Stamps','Disability','Employment','Child Support','Family', 'Other'], input_html: {class: 'form-inline', class: 'span2'}
          %td= f.input :inc_amt3, as: :string, label: false, input_html: {class: 'span1'}
          %td= f.input :expense3,label: false, collection: ['Rent','Utilities','Child Support','Car Payment','Mortgage','Credit Card','Probation', 'Other'], input_html: {class: 'form-horizontal', class: 'span2'}
          %td= f.input :exp_amt3, as: :string, label: false , input_html: {class: 'span1'}
          %tr
          %td  Total Income
          %td  #{ household.inc_amt1.to_i + household.inc_amt2.to_i + household.inc_amt3.to_i}
          %td  Total Expenses
          %td  #{ household.exp_amt1.to_i + household.exp_amt2.to_i + household.inc_amt3.to_i }
  .actions.span2
    = f.button :submit



