.nested-fields
  #neighbor-color.well.well-large.input-append.date
    %script{:type=>"text/javascript"}
      $('#datepicker').datepicker();
    .span3
      = f.input :first_name, autofocus: true
    .span3
      = f.input :middle_name
    .span3
      = f.input :last_name
    -#.span3
      -#= f.input :sex, collection: [:Male, :Female], input_html: {class: 'span2', }
    .span3
      = f.input :birth_date, as: :date_picker, input_html: { id: 'dateEntry', class: 'span3 datepicker' }
    .span3
      = f.input :encrypted_ssn, input_html: {class: "span3"}
    .span3
      = f.input :phone, input_html: {class: 'span3'}
    .row
    .span6
      = f.input :notes, :rows => 2, input_html: {rows: 2, class: 'span9' }
    .span9
    .row
      -#= link_to_function  'X', "history.back()", class: "btn close"


