.nested-fields
.span3
  = f.input :first_name
.span3
  = f.input :middle_name
.span3
  = f.input :last_name
.span3
  = f.input :sex, collection: [:Male, :Female] , input_html: {class: 'span1'}
.span3
  = f.input :age, input_html: {class: 'span1'}
.span3
  = f.input :encrypted_ssn, input_html: {class: "span2"}
.span3
  = f.input :done, :as => :boolean
  .links
    = link_to_remove_association 'Remove', f , class: 'btn btn-mini'
