.nested-fields
  #neighbor-color.well.well-large
    .span3
      = f.input :first_name, autofocus: true
    .span3
      = f.input :middle_name
    .span3
      = f.input :last_name
    .span3
      = f.input :sex, collection: [:Male, :Female] , input_html: {class: 'span2'}
    .span6
      = f.input :birth_date, as: :date, start_year: Date.today.year - 1, end_year: Date.today.year - 90,  order: [:day, :month, :year], prompt: { day: 'Day', month: 'Month', year: 'Year' }, input_html: {class: 'span2'}
    .span3
      = f.input :encrypted_ssn, input_html: {class: "span2"}
    .span6
      = f.input :notes, :rows => 2, input_html: {rows: 2, class: 'span6' }
    .span3
      = f.input  :street,    label: 'Street'
    .span2
      = f.input  :apt,       label: 'Apt', input_html: { class: 'span2' }
    .span3
      = f.input  :city,      label: 'City'
    .span1
      = f.input  :state,     label: 'State', input_html: { class: 'span1' }, collection: ['NC', 'SC', 'Va','WVa','Other'], selected: 'NC'
    .span3
      = f.input  :zip,       label: 'Zip', input_html: { class: 'span2'}
    .span2
      = f.input  :phone,     label: 'Phone', input_html: { class: 'span2' }
    .span3
      = f.input  :email,     label: 'Email', input_html: {class: 'span3'}
    .span1
      = f.input :spouse,     labeL: 'Married'
    .span11
      .hr
    .span3
      = f.input :proof_of_residency_type, label: 'Proof of Residency', collection: ['Drivers License','Passport']
    .span6
      = f.input :residency_date, as: :date, start_year: Date.today.year, end_year: Date.today.year - 10,  order: [:day, :month, :year], prompt: { day: 'Day', month: 'Month', year: 'Year' }, input_html: {class: 'span2'}
    .row
      -#= link_to_function "Back", "history.back()"
  .actions.span11
    -#%hr
    -#= link_to_function '<< Back', "history.back()", class: "btn"
    -#= f.button :submit, class: 'btn btn-inverse'
    %hr
  %hr


