#mhead
  %h4 Household Members: #{household.neighbors.count}
  %h4 Total Visits: #{household.visits.count}
  %h4 Last Visit: #{household.last_visit}
= simple_form_for household,  html: { :class => 'form-inline' } do |f|
  = f.input :household_name, include_blank: 'Last, First', autofocus: true
  = f.input :box_type, label: 'Visits per Month', collection: ['One', 'Two'], input_html: { class: 'span2 form-inline'}
  %table.table
    %thead
      %tr
        %th Name
        %th Age
        %th Last Visit
    %tbody
      - household.neighbors.each do |neighbor|
      - @household = household
        %tr
          %td= link_to neighbor.name, url_for([@household, neighbor])

          %td= neighbor.age
          %td= neighbor.visits.count
  .span11
    = link_to_add_association( 'New Neighbor', f,  :neighbors , partial: 'newneighbor', class: 'btn btn-mini', :force_non_association_create => true)
    %hr
    -#%p.visit
    -#  = link_to_add_association( 'New Visit', f, :visits , class: 'btn btn-success btn-large', :force_non_association_create => true)
  .span11
    %hr
  .content
    %table.table.table-bordered
      %thead
        %th Income
        %th $$
        %th Expenses
        %th $$
      %tbody
        %tr
        = simple_form_for household do |f|
          %td= f.input :income1,label: false, collection: ['Food Stamps','Disability','Employment','Child Support','Family', 'Other'], input_html: {class: 'form-inline', class: 'span2'}
          %td= f.input :inc_amt1, as: :string, label: false, input_html: {class: 'span1'}
          %td= f.input :expense1,label: false, collection: ['Rent','Utilities','Child Support','Car Payment','Mortgage','Credit Card','Probation', 'Other'], input_html: {class: 'form-horizontal', class: 'span2'}, selected: 'Rent'
          %td= f.input :exp_amt1, as: :string, label: false , input_html: {class: 'span1'}
          %tr
          %td= f.input :income2,label: false, collection: ['Food Stamps','Disability','Employment','Child Support','Family', 'Other'], input_html: {class: 'form-inline', class: 'span2'}
          %td= f.input :inc_amt2, as: :string, label: false, input_html: {class: 'span1'}
          %td= f.input :expense2,label: false, collection: ['Rent','Utilities','Child Support','Car Payment','Mortgage','Credit Card','Probation', 'Other'], input_html: {class: 'form-horizontal', class: 'span2'}, selected: 'Utilities'
          %td= f.input :exp_amt2, as: :string, label: false , input_html: {class: 'span1'}
          %tr
          %td= f.input :income3,label: false, collection: ['Food Stamps','Disability','Employment','Child Support','Family', 'Other'], input_html: {class: 'form-inline', class: 'span2'}
          %td= f.input :inc_amt3, as: :string, label: false, input_html: {class: 'span1'}
          %td= f.input :expense3,label: false, collection: ['Rent','Utilities','Child Support','Car Payment','Mortgage','Credit Card','Probation', 'Other'], input_html: {class: 'form-horizontal', class: 'span2'}
          %td= f.input :exp_amt3, as: :string, label: false , input_html: {class: 'span1'}
          %tr
          %td  Total Income
          %td  #{ household.inc_amt1.to_i + household.inc_amt2.to_i + household.inc_amt3.to_i}
          %td  Total Expenses
          %td  #{ household.exp_amt1.to_i + household.exp_amt2.to_i + household.inc_amt3.to_i }
    = f.input :notes, label: 'Notes', input_html:{rows: 4, class: 'span11'}
    %hr
    .span5
      = f.input :option1, label: false, collection: ['How did you hear about the Mission?', 'Question 2'], input_html: {class: 'span4'}
    = f.input :opt_val1, label: false, placeholder: 'Answer',input_html: {rows: 1, class: 'span5'}
    .span5
      = f.input :option2, label: false, collection: ['Second Dynamic Question 1', 'Second Dynamic Question 2'], input_html: {class: 'span4'}
    = f.input :opt_val2, label: false, placeholder: 'Answer',input_html: {rows: 1, class: 'span5'}

  .actions.submit-visit
    = f.button :submit, class: 'btn btn-warning'



