#mhead
= simple_form_for household,  html: { :class => 'form-inline' } do |f|
  = f.input :household_name, label: 'Houshold Name (Last, First)', autofocus: true
  %p You must enter at least one Neighbor for the Household
  .span11.add_neighbor
    = link_to_add_association( 'New Neighbor', f,  :neighbors ,  class: 'btn btn-large', :force_non_association_create => true)
  %hr
  .span11
    .tabbable
      %ul.nav.nav-tabs
        %li
          %a{"data-toggle" => "tab", :href => "#home"} Address
        %li
          %a{"data-toggle" => "tab", :href => "#money"} Income
        %li
          %a{"data-toggle" => "tab", :href => "#visits"} Visits
        %li
          %a{"data-toggle" => "tab", :href => "#mission"} Mission
    .tab-content
      #home.tab-pane.neighbor-color.well.well-large
        #house_address.span-one-third
          %h3 Household Address
          %script{:type=>"text/javascript"}
            $('.datepicker').datepicker({format: 'dd/mm/yyyy'});
          .span3
            = f.input :street, input_html: {class: 'span3'}
          .span1
            = f.input :apt, label: 'Apartment', input_html: {class: 'span1'}
          .row
          .span3
            = f.input :city, prompt: 'City', input_html: {class: 'span3'}
          .span1
            = f.input :state, collection: states , input_html: {class: 'span1'}, selected: 'NC'
          .row
          .span3
            = f.input :zip, label: 'Zip Code', input_html: {class: 'span2'}
          .row
          .span2
            = f.input :proof_of_residency_type, label: 'Residency', collection: ['Drivers License','Passport', 'Utility Bill','Food Stamp Card', 'Other'], input_html:{class:'span2'}
          .span2
            = f.input :date_of_proof,  label: 'Proof Date (D/M/Y)',as: :date_picker, input_html: { id: 'dpYears', class: '  span2' }
          .row
          .span4
            = f.input :special_needs, label: 'Special Non Food Needs', input_html: {class: 'span4'}
          .row
          .span4
            = f.input :prayer_request, label: 'Prayer Request', input_html: {class: 'span4'}
          .row
          .span3.well.well-large
            %p If you enter a prayer request or a special need it will only show up in this area unless you check the box below to post it. If you decide to post it the item will show up on a report for special needs or Prayer requests
            .span1
              = f.input :post_needs, label: 'Post Needs'
            .span1
              = f.input :post_prayer,label: 'Post Prayer'
        #house_notes.span-two-thirds.well.well-large
          %h3 Notes and Comments
          = f.input :notes, label: false, input_html:{rows: 32, class: 'span5'}
        .row
      #money.tab-pane.well.well-large.money-color
        %table.table.table-bordered
          %thead
            %th Income
            %th $$
            %th Expenses
            %th $$
          %tbody
            %tr
            = simple_form_for household do |f|
              %td= f.input :income1,label: false, collection: ['Food Stamps','Disability','Employment','Child Support','Family', 'SSI', 'Other'], input_html: {class: 'form-inline', class: 'span2'}
              %td= f.input :inc_amt1, as: :string, label: false, input_html: {class: 'span1'}
              %td= f.input :expense1,label: false, collection: ['Rent','Utilities','Child Support','Car Payment','Mortgage','Credit Card','Probation', 'Other'], input_html: {class: 'form-horizontal', class: 'span2'}, selected: 'Rent'
              %td= f.input :exp_amt1, as: :string, label: false , input_html: {class: 'span1'}
              %tr
              %td= f.input :income2,label: false, collection: ['Food Stamps','Disability','Employment','Child Support','Family', 'SSI', 'Other'], input_html: {class: 'form-inline', class: 'span2'}
              %td= f.input :inc_amt2, as: :string, label: false, input_html: {class: 'span1'}
              %td= f.input :expense2,label: false, collection: ['Rent','Utilities','Child Support','Car Payment','Mortgage','Credit Card','Probation', 'Other'], input_html: {class: 'form-horizontal', class: 'span2'}, selected: 'Utilities'
              %td= f.input :exp_amt2, as: :string, label: false , input_html: {class: 'span1'}
              %tr
              %td= f.input :income3,label: false, collection: ['Food Stamps','Disability','Employment','Child Support','Family', 'SSI', 'Other'], input_html: {class: 'form-inline', class: 'span2'}
              %td= f.input :inc_amt3, as: :string, label: false, input_html: {class: 'span1'}
              %td= f.input :expense3,label: false, collection: ['Rent','Utilities','Child Support','Car Payment','Mortgage','Credit Card','Probation', 'Other'], input_html: {class: 'form-horizontal', class: 'span2'}
              %td= f.input :exp_amt3, as: :string, label: false , input_html: {class: 'span1'}
              %tr
              %td= f.input :income4,label: false, input_html: {class: 'form-inline', class: 'span2'}
              %td= f.input :inc_amt4, as: :string, label: false, input_html: {class: 'span1'}
              %td= f.input :expense4,label: false, input_html: {class: 'form-horizontal', class: 'span2'}
              %td= f.input :exp_amt4, as: :string, label: false , input_html: {class: 'span1'}
              %tr
              %td  Total Income
              %td  #{ household.inc_amt1.to_i + household.inc_amt2.to_i + household.inc_amt3.to_i + household.inc_amt4.to_i}
              %td  Total Expenses
              %td  #{ household.exp_amt1.to_i + household.exp_amt2.to_i + household.exp_amt3.to_i + household.exp_amt4.to_i }
        .row
        .span11
          = f.input :money_notes, label: 'Financial Notes', input_html:{rows: 2, class: 'span10' }
        .row
      #visits.tab-pane
        .well.well-large.visit-color
          %h5 The Household may have either One or Two visits per Month. Please select one below.
          = f.input :box_type, label: 'Visits per Month', collection: ['One', 'Two'], input_html: { class: 'span2 form-inline'},selected: 'One'
        %hr
        .well.well-large.visit-color
          %h5 If the Household has special needs for food items like vegetarian or gluten free enter it below. Whatever you enter will show up on the Visits form and it will be printed on the food order
          = f.input :food_alert, label: 'Special Food needs', tooltip: 'This will print on the food order', input_html: {class: 'span4'}
        %hr
      #mission.tab-pane.well.well-large
        .span5
          = f.input :how_heard, label: 'How did you hear about the Mission?', collection: ['From a Friend','Family member', 'passing by', 'Facebook', 'Referral from Agency'], input_html: {class: 'span4'}
        .span5
          = f.input :option1,  label: 'If you attend Church, what Church do you attend?', input_html: {rows: 1, class: 'span5'}
        .row
        .span5
          = f.input :opt_val1, label: 'Have you recieved help from another Food Pantry?', collection: ['Yes - within 6 months', 'Yes - several years ago', 'No - this is the first time'], input_html: {rows: 1, class: 'span4'}
        .span5
          = f.input :option2, label: 'Do you have any suggestions to help the Mission?',input_html: {rows: 1, class: 'span5'}
        .row
        = f.input :christmas,  label: 'Add to Christmas list', wrapper:  :inline_checkbox
        = f.input :bool1, label: 'Refered to Rowan Helping Ministries', wrapper:  :inline_checkbox
        = f.input :bool2, label: 'Refered to Cabarus County', wrapper: :inline_checkbox
        .row
        .span4
          = f.input :s_numb, label: 'Closed file Number:', input_html: {class: 'span1'}
        .span4
          = f.input :s_box, label: 'Storage Box Number:', input_html: {class: 'span1'}
        .span2
          = f.input :bool4, label: 'Consent Signed', wrapper: :inline_checkbox
        .span2
          = f.input :bool3, label: 'Completed', wrapper: :inline_checkbox
        .row
    .actions.submit-visit
      = f.button :submit, class: 'btn btn-warning'
    



