

%h1 Household: #{@visit.household.name}

%h2 Household Members: #{household.neighbors.count}

%h1 Special Needs for Household
%h2 #{@household.food_alert}

%h1 Food Selections 

%h2 #{@visit.starch}
%h2 #{@visit.cereal}
%h2 #{@visit.option1}

%h1 Special items for Today

%h2 #{@visit.items_received}

