.nested-fields
  #visit-color.well.well-large
    #visit-date
      = f.input  :visited_on, label: 'Date of Visit', default: Date.today, order: [:day, :month],input_html: { class: 'span2' }
      %br
      = f.association :neighbor, collection: @household.neighbors.all, prompt: 'Choose a Neighbor'
      %br
      .span3
        = f.input  :starch,  label: false,  collection: [ 'Beans','Rice','Potatoes' ] , selected: 'Beans', input_html: { class: 'span2' }
      .span3
        = f.input  :cereal,  label: false,  collection: ['Cereal','Grits','Oatmeal'], selected: 'Cereal',input_html: {class: 'span2' }
      .span3
        = f.input :option1,  label: false,  collection: ['Peanut Butter','Jelly', 'PBJ' 'Deserts','Baby Formula'], prompt: 'Options', input_html: {class: 'span2' }
      .span11
      %br
      %br
      %h4 Food Restrictions: #{household.food_alert}
      = f.input  :items_received, :label => 'Special Needs',input_html: {rows: 4, class: 'span9' }
      = f.input  :notes,          :label => 'Notes',input_html: {rows: 4, class: 'span9' }
      .actions.span12
    %p.submit-visit
      = f.button :submit, :class => 'btn btn-inverse', :label=> 'Save'
  %hr
