%section.panel
  %header
    %h1
      %i.icon-home.icon-large
      &nbsp&nbsp&nbspHouseholds
  .content
    .span12
    .span-one-third
      = image_tag('second_logo.jpg')
    #harvest_report
      %h2 Monthly Report
    .row
    #msm_id.span-one-third
      %p Agency ID: 590AD
      %p Report for: #{Date.today}
      = link_to "Second Harvest", "http://www.secondharvestmetrolina.org/"
      - @month = 'June'
    #harvest_month
      %br
      = simple_form_for @month, html: { :class => 'form-inline' } do |f|
        = f.input :month, label: 'Report Month', collection: month_select, input_html: {class: 'span2'}
      = submit_tag 'refresh', class: 'btn btn-mini'
    .row
    .span11
    %h4 The number of different Households served during: #{@month}
    - household_status_for do |stats|
      .span5
        %table.table.table-bordered
          %thead
            %tr
              %th Month
              %th Total Number of Households
              %tbody
                %tr
                  %td= @month
                  %td= 12
    %br
    .row.span11
      %h4 The total number of Individuals served during: #{@month}
      - household_status_for(households.all) do |stats|
        .span11
          %table.table-bordered
            %thead
              %tr
                %th 18 & Under
                %th 19 to 64
                %th 65 & Over
                %th Total Served
                %tbody
                  %tr
                    %td=  12   # stats.neighbor_count
                    %td=  14   #stats.neighbor_count
                    %td=  30   #stats.neighbor_count
                    %td=  5    #stats.neighbor_count
  .row
  %br

  %br





