%section.panel
  %header
    %h1
      %i.icon-home.icon-large
      &nbsp&nbsp&nbspHouseholds
  .content
    %table#households
      %thead
        %tr
          %th Household
          %th Family Members
          %th Visits
          %th Last Visit
      %tbody
      - households.each do |household|
        %tr
          %td= link_to household.household_name, household_path(household)
          %td= household.neighbors.count
          %td= household.visits.count
          %td= household.last_visit

    -#= paginate households
    %br
    = link_to 'New Household', new_household_path, class: 'btn btn-primary'

