.panel
  %header
    %h1 Households
  .content
    %table.table.table-striped
      %thead
        %tr
          %th Household
          %th Neighbor
          %th Actions
      %tbody
        - households.each do |household|
          %td= household.household_name
          - household.neighbors.each do |neighbor|
            %td= neighbor.name
          = link_to 'Edit', edit_household_path(household), class: 'btn btn-mini'
          = link_to 'Destroy', household, confirm: 'Are you sure?', method: :delete, class: 'btn btn-mini btn-danger'
    %br
    = link_to 'New Household', new_household_path, class: 'btn btn-primary'
