%section.panel
  %header
    %h1
      %i.icon-home.icon-large
      &nbsp&nbsp&nbspHouseholds
  .content
    %table#households
      %thead
        %tr
          %th Household
          %th Family Members
          %th Actions
      %tbody
      - households.each do |household|
        %tr
          %td= link_to household.household_name, household_path(household)
          %td= household.neighbors.count
          %td
            = link_to 'Edit', edit_household_path(household), class: 'btn btn-mini'
            = link_to 'Destroy', household, confirm: 'Are you sure?', method: :delete, class: 'btn btn-mini btn-danger'
    -#= paginate households
    %br
    = link_to 'New Household', new_household_path, class: 'btn btn-primary'

